<%= render '/shared/errors', resource: question%>
<%= form_with model: resources, local: true do |form| %>
	<p>
		<%= form.label :body%>
		<%= form.text_field :body%>
	</p>
	<p>
		<%= form.submit 'Save'%>
	</p>
<%end%>
<%= link_to 'Back', test_questions_path(@test)%>