<%= render '/shared/errors', resource:[@badge]%>
<%= form_with model: [:admin, @badge], local: true do |form|%>
<p>
  <%= form.label :title%>
  <%= form.text_field :title%>
</p>
<p>
  <%= form.label :picture, 'Picture URL'%>
  <%= form.text_field :picture%>
</p>
<p>
  <%= form.label :level, 'User passed all tests of level'%>
  <%= form.number_field :level%>
</p>
<p>
  <%= form.label :category, 'User passed all tests from category'%>
  <%= form.collection_select :category_id, Category.all, :id, :title, prompt: t('.prompt')%>
</p>
<p>
  <%= form.label :first_atempt, 'User passed test with title with first_atempt'%>
    <%= form.collection_select :first_atempt, Test.all, :id, :title, prompt: t('.prompt')%>
</p>
<p>
  <%= form.submit%>
</p>
<%end%>
<%= link_to t('.back'), admin_badges_path%>