<h1><%= t('.header')%> </h1>
<p><%= t('.title')%>: <%= @badge.title%> <%= octicon @badge.picture, height:24%></p>
<p><%= t('.level')%>: <%= @badge.level%></p>
<p><%= t('.category')%>: <%= @category.title%></p>
<p><%= t('.first_atempt')%>: <%= @badge.first_atempt%></p><br>
<%= link_to t('.back'), badges_path %>