<h1>The <%= @test_passage.test.title %> test was complted!</h1>

<%if  @test_passage.test_success?%>
  <p class='success'>Success! <%= current_user.username%> your result <%= @test_passage.test_result%></p>
<%else%>
	<p class='fail'>Fail. Try again! <%= current_user.username%>  your result <%= @test_passage.test_result%></p>
<%end%>

<p><%= link_to 'Back to tests list', tests_path%></p>