<header>
  <nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <div class='navbar-brand'><%= link_to 'TestGuru', '/'%> </div>
    <div class='navbar-nav flex-fill justify-content-end'>
      <% if user_signed_in?%>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "nav-link" %>
      <%else%>
        <%= link_to 'Log in', new_user_session_path, class: "nav-link"%>
        <%= link_to 'Sign up', new_user_registration_path, class: "nav-link"%>
      <%end%>
      <% if user_signed_in? %>
        <span class="navbar-text">Welcome Guru <%= current_user.username%></span>
      <%end%>
      </div>
      <%= flash_message(:goodbye)%>
  </nav>
</header>