<header>
  <nav class='navbar'>
    <div class='logo'><%= link_to 'TestGuru', '/'%> </div>
    <div class='navigation'>
      <% if user_signed_in?%>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete%>
      <%else%>
        <%= link_to 'Log in', new_user_session_path%>
        <%= link_to 'Sign up', new_user_registration_path%>
      <%end%>
    </div>
  </nav>
  <% if user_signed_in? %>
    <h3>Welcome Guru <%= current_user.username%></h3>
  <%end%>
  <%= flash_message(:goodbye)%>
</header>