<p><%= link_to 'Create Question', new_admin_test_question_path(test)%></p>
<%= link_to 'Back', admin_tests_path%>
<ol>
<% test.questions.each do |question|%>
	<li>
		<p><%= question.body%></p>
		<p>
			<%=link_to 'Show question', admin_question_path(question)%>|
			<%=link_to 'Edit question', edit_admin_question_path(question)%>|
			<%=link_to 'Delete question', admin_question_path(question), method: :delete%>
		</p>
	</li>
<%end%>
</ol>