<p><%= link_to t('.create'), new_admin_test_question_path(test)%></p>
<%= link_to t('.back'), admin_tests_path%>
<ol>
<% test.questions.each do |question|%>
	<li>
		<p><%= question.body%></p>
		<p>
			<%=link_to t('.show'), admin_question_path(question)%>|
			<%=link_to t('.edit'), edit_admin_question_path(question)%>|
			<%=link_to t('.delete'), admin_question_path(question), method: :delete%>
		</p>
	</li>
<%end%>
</ol>