<tr>
	<td>
    <%= content_tag :span, test.title, class: 'test-title', data: {test_id: test.id}%>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
	<td><%= test.level%></td>
	<td><%= link_to t('.show'), admin_test_path(test) %></td>
	<td><%= link_to t('.edit'), edit_admin_test_path(test), class: 'form-inline-link', data: {test_id: test.id} %></td>
	<td><%= link_to t('.delete'), admin_test_path(test), method: :delete %></td>
  <td><%= test.author.full_name%></td>
</tr>