<%= render '/shared/errors', resource:[@test]%>
<%= form_with model: [:admin, @test], local: true do |form|%>
<p>
	<%= form.label :title%>
	<%= form.text_field :title%>
</p>
<p>
	<%= form.label :level%>
	<%= form.number_field :level%>
</p>
<p>
  <%= form.label :time_for_passage%>
  <%= form.number_field :time_for_passage%>
</p>
<p>
	<%= form.label :category%>
	<%= form.collection_select :category_id, Category.all, :id, :title, prompt: t('.prompt')%>
</p>
<p>
  <%= form.label :under_construction%>
  <br>
  <%= radio_button('test', 'under_construction', false) %><span>No</span>
  <br>
  <%= radio_button('test', 'under_construction', true) %><span>Yes</span>
</p>
<p>
	<%= form.submit%>
</p>
<%end%>
<%= link_to t('.back'), admin_tests_path%>