<tr>
	<td><%= test.title%></td>
	<td><%= test.level%></td>
	<td><%= link_to t('.show'), admin_test_path(test) %></td>
	<td><%= link_to t('.edit'), edit_admin_test_path(test) %></td>
	<td><%= link_to t('.delete'), admin_test_path(test), method: :delete %></td>
  <td><%= test.author.full_name%></td>
</tr>