<h1><%= t('.header') %></h1>
<%= link_to  t('.create'), new_admin_test_path%>
<table>
	<tr>
		<th class="sort-by-title pointer"><%= t('.title') %>
    <%= octicon 'arrow-up', class: 'text-success hide'%>
    <%= octicon 'arrow-down', class: 'text-success hide'%>
    </th>
		<th><%= t('.level') %></th>
		<th colspan='3'><%= t('.actions') %></th>
    <th><%= t('.author') %></th>
	</tr>
	<tbody>
		<%= render @tests%>
	</tbody>
</table>
