<%= form_with model:@test, local:true do |form|%>
<p>
	<%= form.label :title%>
	<%= form.text_field :title%>
</p>
<p>
	<%= form.label :level%>
	<%= form.number_field :level%>
</p>
<p>
	<%= form.label :category%>
	<%= form.collection_select :category_id, Category.all, :id, :title, prompt: true%>
</p>
<p>
	<%= form.label :user%>
	<%= form.collection_select :user_id, User.all, :id, :username, prompt: true%>
</p>
<p>
	<%= form.submit 'Save'%>
</p>
<%end%>